.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
} 

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainTitle {
    font-size: var(--big-font-size);
    font-weight: 500;
    color: var(--main-text-color);
}
.otherTitle {
    font-size: var(--medium-font-size);
    font-weight: 400;
    color: var(--reverse-theme-color-75);
}

.comicDetail {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.comicImage {
    width: 12.5rem;
    border-radius: var(--border-radius);
}

.rightSide {
    width: calc(100% - 15rem);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.info > div {
    width: 100%;
    display: grid;
    grid-template-columns: 7.5rem  1fr;
}
.tag {
    display: flex;
    column-gap: 0.75rem;
}
.value {
    left: 7.5rem;
}

.categories > .value {
    display: flex;
    column-gap: 0.75rem;
    row-gap: 0.75rem;
    flex-wrap: wrap;
}
.category {
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    font-weight: 500;
    color: var(--theme-color);
}

.storyLine {
    max-height: 10rem;
    padding-inline: 0.75rem;
    overflow-y: auto;
}
.storyLine::-webkit-scrollbar {
    width: 0.25rem;
}
.storyLine::-webkit-scrollbar-track {
    background-color: transparent;
}
.storyLine::-webkit-scrollbar-thumb {
    background-color: var(--reverse-theme-color-25);
    border-radius: var(--border-radius);
}

.actionContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.75rem;
    row-gap: 0.75rem;
}
.actionContainer a {
    max-width: 10rem;
    width: 30%;
    min-width: fit-content;
    height: 2.25rem;
    padding-inline: 0.75rem;
    background-color: var(--reverse-theme-color-25);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 100%;
}
.header {
    color: var(--main-color);
    font-weight: 500;
    font-size: var(--medium-font-size);
}
.breakLine {
    width: 100%;
    height: 0.1rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    background-color: var(--main-color);
}

.chapterBlock {
    width: 100%;
}
.chapterContainer {
    width: 100%;
    height: 30rem;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    overflow: auto;
}
.chapterContainer::-webkit-scrollbar {
    width: 0.25rem;
}
.chapterContainer::-webkit-scrollbar-track {
    background-color: transparent;
}
.chapterContainer::-webkit-scrollbar-thumb {
    background-color: var(--reverse-theme-color-25);
    border-radius: var(--border-radius);
}
.chapter {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    place-items: center;
    column-gap: 1.25rem;
    font-size: var(--medium-font-size);
    font-weight: 400;
}
.spaceLine{
    width: 100%;
    height: 0.125rem;
    background-color: var(--reverse-theme-color-25);
}
.commentContainer {
    padding-inline: 0.75rem;
}
.comment {
    display: flex;
    column-gap: 0.25rem;
}
.commentedUserAvt {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .comicDetail {
        flex-direction: column;
        align-items: center;
        row-gap: 0.75rem;
    }
    .leftSide {
        display: flex;
        flex-direction: row;
    }
    .rightSide {
        width: 100%;
    }
}