.commentForm {
    width: 100%;
    padding-inline: 0.75rem;
}
.commentForm textarea {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--reverse-theme-color-15);
    resize: none;
    font-family: inherit;
}
.commentForm textarea::placeholder {
    color: var(--reverse-theme-color-50);
}
.commentForm button {
    display: block;
    padding: 0.25rem;
    margin: 0.75rem 0 0 auto;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    color: var(--theme-color);
}