:root {
    font-size: 1rem;
    --max-width: 1200px;
    --header-height: 2.5rem;
    --footer-height: 3rem;
    --border-radius: 0.25rem;
    --main-color: rgba(70, 130, 180, 1);
    --theme-color: rgba(26, 26, 26, 1);
    --theme-color-50: rgba(26, 26, 26, 0.5);
    --reverse-theme-color: rgba(245, 245, 245, 1);
    --reverse-theme-color-75: rgba(245, 245, 245, 0.75);
    --reverse-theme-color-50: rgba(245, 245, 245, 0.5);
    --reverse-theme-color-25: rgba(245, 245, 245, 0.25);
    --reverse-theme-color-15: rgba(245, 245, 245, 0.15);
    --reverse-theme-color-5: rgba(245, 245, 245, 0.05);
    --main-text-color: rgba(255, 255, 255, 1);
    --box-shadow-color: rgba(128, 128, 128, 0.15);
    --small-font-size: 0.75rem;
    --medium-font-size: 1rem;
    --big-font-size: 1.25rem;
    --large-font-size: 2rem;
}

[data-theme='light'] {
    --theme-color: rgba(245, 245, 245, 1);
    --theme-color-50: rgba(245, 245, 245, 0.5);
    --reverse-theme-color: rgba(26, 26, 26, 1);
    --reverse-theme-color-75: rgba(26, 26, 26, 0.75);
    --reverse-theme-color-50: rgba(26, 26, 26, 0.5);
    --reverse-theme-color-25: rgba(26, 26, 26, 0.25);
    --reverse-theme-color-15: rgba(26, 26, 26, 0.15);
    --reverse-theme-color-5: rgba(26, 26, 26, 0.05);
    --main-text-color: rgba(26, 26, 26, 1);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    background-color: var(--theme-color);
    overflow-x: hidden;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

div {
    width: fit-content;
}
img {
    object-fit: cover;
}
.scrollContainer {
    width: 100%;
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.pageContainer {
    width: var(--max-width);
    min-height: calc(100dvh - var(--header-height) - var(--footer-height));
    background-color: var(--reverse-theme-color-5);
    padding: 1rem;
    align-self: center;
}

@media screen and (max-width: 1200px) {
    :root {
        --max-width: 1025px;
    }
}
@media screen and (max-width: 1024px){
    :root {
        --max-width: 769px
    }
}
@media screen and (max-width: 768px) {
    :root {
        --max-width: 100vw
    }
}