.container {
    width: 100%;
    height: var(--header-height);
    background-color: var(--theme-color);
    padding-inline: calc(calc(100vw - var(--max-width)) / 2);
    border-bottom: 2px solid var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    color: var(--reverse-theme-color-75);
    z-index: 100;
}

.logo {
    font-size: 2rem;
    text-transform: uppercase;
}

.navbar {
    margin-left: 1rem;
}

.searchBar {
    margin-right: 0.75rem;
    margin-left: auto;
}

.themeSwitch {
    margin-right: 0.75rem;
    justify-self: flex-end;
}

.menu {
    padding-right: 0.75rem;
    display: none;
}

@media screen and (max-width: 1024px) {
    .logo {
        margin-left: 0.75rem;
    }

    .navbar, .buttonContainer, .signAction {
        display: none;
    }

    .menu {
        display: block;
    }
}
@media screen and (max-width: 480px) {
}