.container {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
    background-color: black;
    opacity: 0.8;
}
.chapterChanger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}