.container {
    width: 3.75rem;
    height: 2rem;
    background-color: var(--reverse-theme-color-15);
    border-radius: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
}

.switch {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--reverse-theme-color-25);
    border-radius: 50%;
    position: absolute;
}

.sunIcon {
    color: var(--reverse-theme-color-25);
    z-index: 1;
}

.moonIcon {
    color: var(--reverse-theme-color-25);
    z-index: 1;
}

.active {
    color: var(--theme-color);
}